<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rca">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rca urdf file -->
    <xacro:include filename="$(find rca_description)/urdf/rca.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="rca.ros2_control.xacro" />


    <xacro:rca_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
