<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rca">


    <!-- Erst Material Laden.. -->
    <xacro:include filename="$(find rca_description)/urdf/material.xacro"/>

    <!--  ..dann die STL Files zum visualisieren -->
    <xacro:include filename="$(find rca_description)/urdf/rca_core.xacro"/>
    
    <!-- Gazebo plugins -->
    <xacro:include filename="$(find rca_description)/urdf/gazebo.xacro"/> 

    <!-- ROS2_Control -->
    <xacro:include filename="$(find rca_description)/urdf/ros2_control.xacro"/> 

    
</robot>